.bg {
  background-image: url(https://i.imgur.com/NW0mK39.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.target {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.buttonpad {
  margin-bottom: 15vh;
  margin-left: 15px;
}

.buttonpad2 {
  margin-bottom: 10px;
}

.playerimg {
  /* display: flex; */
}